body {
    background-color: rgb(239, 201, 149);
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    padding: 50px;
}

.completedItem {
    background-color: rgb(50, 201, 81);
}
.completeBtn {
    background-color: cadetblue;
}
.deleteBtn {
    background-color: crimson;
}
#toDoForm {
    padding:25px;
}

#contentDiv {
    text-align: center;
    border: 3px dashed green;
    margin: auto;
    width: 50%;
}
