body {
    background-color: rgb(182, 246, 223);
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    padding: 50px;
}

.completedItem {
    background-color: rgb(225, 218, 16);

}
.completeBtn {
    background-color: cadetblue;
}
.deleteBtn {
    background-color: crimson;
}
#toDoForm {
    padding:25px;
}

#contentDiv {
    text-align: center;
    border: 3px dashed rgb(0, 11, 128);
    margin: auto;
    width: 50%;
}
